:root {
    --text-color: #000000;
    --bg-color: #FFFFFF;
    --primary-color: #8FB3FF;
    --secondary-color: #EBF1FF;
    --accent-color: #D41D6D;
    --dm-text-color: #FFFFFF;
    --dm-bg-color: #000000;
    --dm-primary-color: #8FB3FF;
    --dm-secondary-color: #001952;
    --dm-accent-color: #F199BF;
    --bootstrap-bg-color: #732ffa;
}

.view {
    padding: 20px;

    .navbar {
        height: 70px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: var(--bg-color);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        z-index: 1;

        svg {
            &:hover {
                cursor: pointer;
            }
        }

        .logo {
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 50px;
            }
            
            h1 {
                font-size: 14px;
                font-weight: 300;
                
                span {
                    font-weight: 500;
                }
            }
        }
    }

    .stats {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .balance {
            text-align: center;

            h2 {
                font-size: 42px;
                font-weight: 700;
            }
    
            p {
                font-weight: 300;
            }
        }

        .stack {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .card {
                flex: 1;
                height: 75px;
                width: 100px;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .left {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .right {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .name {
                        font-size: 12px;
                        font-weight: 300;
                    }

                    .value {
                        font-size: 16px;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
    }

    .features {
        margin-top: 20px;
        background-color: var(--bootstrap-bg-color);
        color: var(--bg-color);
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px 0px;

        .item {
            flex: 0 0 25%;
            max-width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            .bottom {
                p {
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }

        .closeLine {
            width: 25%;
            height: 3px;
            background-color: var(--dm-text-color);
            border-radius: 20px;
        }

        .openLine {
            width: 75%;
            height: 3px;
            background-color: var(--dm-bg-color);
            border-radius: 20px;
        }
    }

    .people {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .heading {
            display: flex;
            justify-content: space-between;

            h3 {
                font-size: 14px;
            }

            a {
                font-size: 14px;
                text-decoration: none;
                color: var(--primary-color);
            }
        }

        .stack {
            display: flex;
            gap: 10px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
            
            .person {
                flex: 0 0 25%;
                width: 100%;
                max-width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2px;
                border-radius: 20px;
                overflow: hidden;
                border: 1px solid #c5c2c2;

                img {
                    height: auto;
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
    }

    .companies {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .heading {
            display: flex;
            justify-content: space-between;

            h3 {
                font-size: 14px;
            }

            a {
                font-size: 14px;
                text-decoration: none;
                color: var(--primary-color);
            }
        }

        .filters {
            display: flex;
            gap: 10px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .filter {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 5px 10px;
                border: 1px solid #c5c2c2;
                border-radius: 20px;

                p {
                    font-size: 14px;
                }
            }

            .active {
                border: 2px solid var(--primary-color);
            }
        }

        .stack {
            display: flex;
            gap: 10px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .company {
                flex: 0 0 25%;
                max-width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2px;
                border-radius: 20px;
                border: 1px solid #c5c2c2;

                img {
                    height: auto;
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
    }

    .cards {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            font-size: 14px;
        }

        .card {
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 10px;
            background-color: var(--text-color);
            color: var(--dm-text-color);
            border-radius: 20px;

            .top {
                position: relative;
                display: inline-block;

                .value {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    // font-size: 12px;
                }
            }

            .bottom {
                line-height: 1.5;
                
                .name {
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }

                .value {
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 2px;
                }

                span {
                    font-size: 8px;
                }
            }
        }
    }

    .darkMode {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        border-radius: 20px;
        padding: 15px 20px;

        p {
            font-size: 14px;
        }
    }

    .ads {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: var(--bootstrap-bg-color);
        color: var(--dm-text-color);
        border-radius: 20px;
        padding: 20px;

        h2 {
            font-size: 62px;
            font-weight: 300;

            span {
                font-weight: 500;
            }
        }

        p {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
        }
    }

    .transactions {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .heading {

            .top {
                h3 {
                    font-size: 14px;
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: 12px;
                }

                a {
                    font-size: 12px;
                    text-decoration: none;
                    color: var(--primary-color);
                }
            }
        }

        .stack {
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            .transaction {
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
                border-radius: 20px;
                padding: 20px;

                .left {
                    flex: 0 0 50%;
                    max-width: 50%;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .img-container {
                        height: 50px;
                        width: 50px;
                        border-radius: 8px;
                        overflow: hidden;
                        
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .name {
                        span {
                            font-size: 10px;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                    
                }

                .right {
                    flex: 0 0 50%;
                    max-width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    span {
                        font-size: 10px;
                        letter-spacing: 2px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .news {
        margin-top: 20px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .heading {
            display: flex;
            justify-content: space-between;

            h3 {
                font-size: 14px;
            }

            a {
                text-decoration: none;
                font-size: 14px;
                color: var(--primary-color);
            }
        }

        .stack {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .article {
                display: flex;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
                border-radius: 20px;
                padding: 20px;
                gap: 10px;

                .img-container {
                    height: 50px;
                    width: 50px;
                    border-radius: 8px;
                    overflow: hidden;
                    
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                
                .details {
                    flex: 2;
                    
                    p {
                        font-size: 14px;
                    }

                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .toolBar {
        height: 70px;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--bg-color);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.08);
        z-index: 1;

        .tab {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            p {
                font-size: 10px;
            }
        }

        .centerTab {
            height: 40px;
            width: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--bootstrap-bg-color);
            border-radius: 8px;
            color: var(--dm-text-color);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);

            p {
                font-size: 12px;
            }
        }
    }
}