:root {
    --text-color: #000000;
    --bg-color: #FFFFFF;
    --primary-color: #8FB3FF;
    --secondary-color: #EBF1FF;
    --accent-color: #D41D6D;
    --dm-text-color: #FFFFFF;
    --dm-bg-color: #000000;
    --dm-primary-color: #8FB3FF;
    --dm-secondary-color: #001952;
    --dm-accent-color: #F199BF;
}

.verification {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .v-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        h1 {
            font-size: 3rem;
            font-weight: 300;
            letter-spacing: 1.5px;

            span {
                font-weight: 500;
            }
        }

        p {
            font-weight: 300;
            line-height: 1.5;
        }
    }

    .btn {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 8px;
        background-color: var(--primary-color);
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 1px;
        color: var(--dm-text-color);
        text-transform: uppercase;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        &:hover {
            cursor: pointer;
        }
    }

    .loader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px 0;

        p {
            font-weight: 300;
            line-height: 1.5;

            a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                color: var(--primary-color);
            }
        }
    }
}